---
Language: Cpp
BasedOnStyle: Chromium
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: None
BinPackArguments: false
BreakBeforeBraces: Allman
ColumnLimit: 80
IndentWidth: 4
PointerAlignment: Right
SortIncludes: false
SpaceBeforeParens: Always
TabWidth: 4
UseTab: Always
...

